<%= link_to department do %>
  <div style="border: 1px solid black">
    <p>
      <strong>部署名:</strong>
      <%= department.name %>
    </p>
    <p>
      <strong>所属人数:</strong>
      <%= '3' %> 名
    </p>
  </div>
<% end %>