<div>
  <p>
    <strong>キャプション:</strong>
    <%= post.caption %>
  </p>
  <small>投稿日時: <%= l(post.created_at, format: :long) %></small>
  <% if post.user == current_user %>
    <p>
      <%= link_to "投稿の削除", [post.user, post], data: {
          turbo_method: :delete,
          turbo_confirm: "本当に削除してよろしいですか？"
      } %>
    </p>
  <% end %>
</div>