<h1>タイムライン</h1>

<% @posts.each do |post| %>
  <div style="border: 1px solid black">
    <p>
      <strong>キャプション:</strong>
      <%= post.caption %>
    </p>
    <p>by <%= link_to post.user.full_name, post.user %></p>
    <small>投稿日時: <%= l(post.created_at, format: :long) %></small>
  </div>
<% end %>