<p><%= @resource.last_name %>さん、こんにちは！</p>

<p>サービスをご利用いただくために、こちらのメールアドレスでの本人確認が必要です。 </p>

<p>ご本人である場合、下記リンクからご確認をお願いいたします。</p>

<p style="color: red">※お心当たりのない方は、リンクはクリックせず、このメールを削除して運営へご連絡お願いいたします。</p>
<p><%= link_to '本人確認をする', confirmation_url(@resource, confirmation_token: @token) %></p>
