<header>
  <ul>
    <li><%= link_to "ユーザー 一覧", users_path %></li>
    <li><%= link_to "タイムライン", posts_path %></li>
    <li><%= link_to "部署 一覧", departments_path %></li>
    <li><%= link_to "出身地 一覧", birthplaces_path %></li>
  </ul>
</header>